.hero-banner-section{
    height: 100vh;
    max-height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    transition: all .10s ease;
    

    .hero-img{
        width: 100%;;
        height: 100%;
        position: absolute;
        animation-name: animateimg;
        animation-duration: 3s;
        animation-iteration-count: 1;
        transition: all .10s ease;

        @media screen and (max-width: 768px) {
            max-height: 812px;
        }
    
        &.addImgAnimation{
            animation-name: animateimg2;
            animation-duration: 3s;
            animation-iteration-count: 1;
        }
    
        @keyframes animateimg {
            0%{
                transform: translate(0px, 0px) scale(1, 0);
            }
            100%{
                transform: translate(0px, 0px) scale(1);
            }
        
        }
    
        @keyframes animateimg2 {
            0%{
                transform: translate(0px, 0px) scale(1, 0.30);
            }
            100%{
                transform: translate(0px, 0px) scale(1);
            }
        
        }
    }

    @media screen and (max-width: 768px) {
        max-height: 812px;
    }
    .container{
        width: 100%;
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;

        .hero-banner-text{
            width: 100%;
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            height: 100%;
            position: relative;
            z-index: 5;
            top: 0;
            left: 0;

            @media screen and (max-width: 768px) {
                padding-top: 0;
            }

            .title{
                color:#EEF4F9;
                font-size: 64px;
                font-weight: 400;
                width: 50%;
                line-height: 64px;
                font-family: 'Work Sans', sans-serif;

                    @media screen and (max-width: 1024px) {
                        width: 80%;
                    }
    
                    @media screen and (max-width: 768px) {
                        font-size: 46px;
                        line-height: 46px;
                        max-width: 320px;
                        width: 100%;
                    }
            }

            .tagline{
                font-size: 16px;
                width: 100%;
                display: block;
                color:#EEF4F9;
                line-height: 24px;
                font-weight: 400;
                margin-bottom: 24px;
                font-family: 'Work Sans', sans-serif;

                @media screen and (max-width: 768px) {
                    font-size: 14px;
                }
            }
        }

        .next-container{
            display: flex;
            align-self: center;
            position: absolute;
            z-index: 5;
            bottom: 80px;

            @media screen and (max-width: 1366px) {
                bottom: 60px;
            }

            @media screen and (max-width: 1024px) {
                bottom: 40px;
            }

            @media screen and (max-width: 768px) {
                bottom: 120px;
            }

            @media screen and (max-width: 540px) {
                bottom: 120px;
            }

            .next_thumb{
                width: 135px;
                height: 135px;
                padding: 25px;
                border: 1px solid #EEF4F9;
                position: relative;
                display: flex;
                justify-content:center;
                cursor: pointer;
                overflow: hidden;

                @media screen and (max-width: 768px) {
                    width: 115px;
                    height: 115px;
                }

                span{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    color:#EEF4F9;

                    @media screen and (max-width: 768px) {
                        font-size: 14px;
                    }
                }
                .next_thumb-block,.next_thumb-inline{
                    min-width: 100%;
                    height: 100%;
                    position: absolute;
                    top:0;
                    left:0;
                    div{
                        position: relative;
                        height: 100%;
                    }
                }
                
                .next_thumb-border,
                .next_thumb-border,
                .next_thumb-border,
                .next_thumb-border {
                    position: absolute;                    
                    height: 0;
                    width: 0;
                    transition: all .2s;
                    background-color: white;
                    &-top{
                        top:0;
                        right:0;
                    }
                    &-right{
                        bottom:0;
                        right:0;
                        height: 100%;
                        width: 10px;
                    }
                    &-bottom{
                        bottom:0;
                        top:unset;
                        left:0;
                    }
                    &-left{
                        right:unset;
                        left:0;
                        top:0;
                        height: 100%;
                        width: 10px;
                    }
                }
                
                
            }
            .next-indicator{
                color:#EEF4F9;
                display: flex;
                gap:10px;
                margin-left:33px;
                align-items: center;
                @media screen and (max-width: 768px) {
                    margin-left:26px;
                    span{
                        font-size: 14px;
                    }
                }
                .next-indicator_line{
                    background-color:#EEF4F9 ;
                    height: 2px;
                    width:103px;
                    margin-top:8px;

                    @media screen and (max-width: 768px) {
                        margin-top:0;
                    }
                }
            }
        }
    }
}